.container {
  padding: 50px;
  background-color: lightblue;
  margin-left: 50px;
  top: 20px;
  position: relative;
  border-radius: 9px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}

.Input {
  width: 50%;
  padding: 10px;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: inline;
  margin: 5px;
  width: 100%;
}

.Dropdown {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  width: 100%;
  box-sizing: border-box;
}

.Dropdown:focus {
  background-color: #ccc;
  outline: none;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}
